.table th {
  font-weight: bold;
}

.paginationUl>li:first-of-type {
  margin-inline-end: auto;
}

.paginationUl>li:last-of-type {
  margin-inline-start: auto;
}

.cell {
  border-inline-end: 1px solid var(--color-divider);
}